{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'biller/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'biller/css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>
<div class="content-wrapper">
    {% for message in messages %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div align="center"
                     class="alert alert-{{ message.tags }}">{{ message }}</div>
            </div>
        </div>
    {% endfor %}
</div>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Foodathon 2K17 </a>
            </li>
            <li>
                {#                    <a href="{% url 'logout' %}">Logout</a>#}
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
        </div>
        <div class="container-fluid">
            {% crispy forms %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'biller/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'biller/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'biller/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


</body>

</html>
