<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login-iQube Receipt Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Login</h2>
      {% if form.errors %}
                        <h4 style="color: red">* Incorrect Username or Password</h4>
                        {% endif %}

  <form role="form" action="{% url 'login' %}" method="post"
                              class="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                 <input type="text" name="username" placeholder="Username..."
                                          class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                 <label class="sr-only" for="form-password">Password</label>
                                 <input type="password" name="password" placeholder="Password..."
                                          class="form-password form-control" id="form-password">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="sr-only" for="form-submit"></label>
                                <input type="submit" value='SignIn' class='btn btn-danger btn-lg' id='form-submit'>
                            </div>
                        </form>
</div>

</body>
</html>

